.pict {
    display: block;
    margin: 10px auto 20px;
    width: 50%;
}

h2 {
    font-family: Playfair+Display;
    font-style: Bold;
    font-size: 25px;
    Line-height: 33px;
    Line-height: 100%;
    text-align: center
}


.writer {
    Font-family: Montserrat;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 24px;
    Line-height: 123%;
    text-align: center;
}


.edition,
.publisher {
    Font-family: Montserrat;
    Font-style: Regular;
    Font-size: 12px;
    Line-height: 17px;
    Line-height: 140%;
    text-align: center;
    Color: Gray 3;
    Fill: Solid #828282;
}


a {
    display: block;
    margin: 1px;
    Font-family: Montserrat;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 24px;
    Line-height: 123%;
    text-align: center;
}


.buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60%;
    row-gap: 10%;
    justify-content: center;
    align-items: flex-start;
    justify-items: stretch;
}


.button1 {
    background-color: #D96F6E;
    border: none;
    color: #FFFFFF;
    Font-style: Montserrat;
    Font-style: SemiBold;
    border-radius: 5px;
}

.button2 {
    background-color: #F3A492;
    border: none;
    color: #FFFFFF;
    Font-style: Montserrat;
    Font-style: SemiBold;
    border-radius: 5px;
}


h6 {
    font-family: Montserrat;
    font-style: Bold;
    font-size: 16px;
    Line-height: 20px;
    Line-height: 100%;
    text-align: center;
    color: #4F4F4F;
}


.buttons2 {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 100% 100%;
    grid-gap: 4px;
    justify-content: center;
    justify-items: stretch;
}


.button3 {
    background: linear-gradient(to left, #F2D05C, #F3A492);
    border: none;
    Font-style: Montserrat;
    Font-style: SemiBold;
    color: #FFFFFF;
    border-radius: 5px;
}


.button4 {
    background: linear-gradient(to left, #53889D, #BBD1D9);
    border: none;
    Font-style: Montserrat;
    Font-style: SemiBold;
    color: #FFFFFF;
    border-radius: 5px;
}




.buttons3 {
    display: grid;
    grid-template-columns: 7% 7% 7% 7% 7%;
    grid-template-rows: 100% 100%;
    grid-gap: 1px;
    justify-content: center;
    justify-items: stretch;
}


h3 {
    font-family: Playfair+Display;
    font-style: Bold;
    font-size: 16px;
    Line-height: 200px;
    Line-height: 100%;
    text-align: center
}

.container {
    display: flex;
    justify-content: center;
}

.name1,
.name2,
.name3 {
    font-family: Playfair +Display;
    font-style: Bold;
    font-size: 16px;
    Line-height: 21px;
    Line-height: 100%;
    text-align: left;
    padding-bottom: 20px;
}


.familyname1,
.familyname2,
.familyname3 {
    font-family: Montserrat;
    font-style: Body S;
    font-size: 12px;
    Line-height: 17px;
    Line-height: 140%;
    text-align: left;
    Color: #4F4F4F;
}


.price1,
.price2,
.price3 {
    Font-family: Montserrat;
    Font-style: SemiBold;
    Font-size: 12px;
    Line-height: 15px;
    Line-height: 100%;
    text-align: Left;
    Vertical-align: Top;
    Color: #D96F6E;
}

.button1,
.button2 {
    width: 296px;
    height: 40px;
}

.button3,
.button4 {
    width: 128px;
    height: 24px;
}